@import '../../../../../styles.scss';

tr th{
    text-align: center;
}
.appl-list-table{
    tr td{
        text-align: center;
    }
}
tbody .highlight:hover{
    background-color: $tb-hover-color;
    cursor:pointer;
}
#applModal .form-group{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:1rem;
    flex-basis:100%;
    label{
        flex-basis:35%;
        margin:0;
        text-align: right;
        padding-right:1rem;
        span{
            color:red;
        }
    }
    .input{
        flex-grow:1;
    }
    .short{
        flex-basis:30%;
    }
    .medium{
        flex-basis:50%;
    }
    .long{
        flex-basis:70%;
    }
    .alert{
        margin:0;
        margin-left:1rem;
    }
}