<div class="search-container">
  <div class="form-group">
    <label for="typeahead-basic" class="wt4">신고일자</label>
    <itsm-calendar-split [(fromDt)]="fdate" [(toDt)]="tdate" title="등록일자"></itsm-calendar-split>
      
    <label class="search-title" class="wt4" style="margin-left: -0.5rem">신고내용</label> <!--  -->
    <input class="form-control" type="text" style="width:10em;" [(ngModel)]="search" (keyup.enter)="filter()">

    <label for="typeahead-basic" class="wt4" style="margin-left: 0.5rem">처리상태</label> <!-- style="margin-left: -0.5rem"-->
    <div class="option-container">
      <select class="form-control" [(ngModel)]="state" style="width:100px;" (change)="filter()">
        <option value="" >전체</option> <!-- *ngIf="session.isAdmin()" -->
        <option *ngFor="let item of state_list" [value]="item.id">{{item.name}}</option>
      </select>
    </div>

    <label for="typeahead-basic" class="wt4" style="margin-left: 0.5rem">시설분류</label> <!--style="margin-left: -0.5rem" -->
    <div class="option-container">
      <select class="form-control" [(ngModel)]="cls_cd" style="width:130px;" (change)="filter()">
        <option value=''>전체</option>
        <option *ngFor="let item of cls_list" [value]="item.cls_cd">{{item.cls_nm}}</option>
      </select>
    </div>

    <label class="search-title" class="wt3" style="margin-left: 0.5rem">시설명</label> <!-- style="margin-left: -0.5rem" -->
    <input class="form-control" type="text" style="width:12.5em;" [(ngModel)]="place_nm" (keyup.enter)="filter()">


    <label class="search-title" class="wt3" style="margin-left: 0.5rem">신고자</label> <!-- style="margin-left: -0.5rem" -->
    <input class="form-control" type="text" style="width:5em;" [(ngModel)]="user_nm" (keyup.enter)="filter()">
      
    <button type="button" class="btn btn-info" style="margin-left:1rem;" (click)="filter()">조회</button>
   </div>
</div>
<div class="col-lg-12" style="padding:0" >
  <div class="card" >
     <div class="card-body">       
        <div class="table-responsive list-table" style="text-align: center"> 
            <table class="table" >
            <colgroup>
                <col width="7%">
                <col width="12%">
                <col width="33%">
                <col width="16%">
                <col width="11%">
                <col width="11%">
                <col width="10%">
            </colgroup>
            <thead>
                <tr>
                    <th class="noLLine">No</th>
                    <th>신고일시</th>
                    <th>신고내용</th>
                    <th>시설분류</th>
                    <th>신고자</th>
                    <th>담당자</th>
                    <th>처리상태</th>
                </tr>
            </thead>
            <tbody > 
                <tr *ngFor="let item of data_list; let i = index" class="highlight" (click)="openDetail(item.report_no)"> <!--  [(ngModel)]="list" -->
                    <td>{{total - ((this.page-1) * this.pageSize + i)}}</td>
                    <td style="text-align: center">{{item.reg_dttm}}</td>
                    <td style="text-align: center">{{item.txt }}</td>
                    <td style="text-align: center">{{item.place_cls_nm}}</td>
                    <td style="text-align: center">{{item.user_nm}}</td>
                    <td style="text-align: center">{{item.proc_user_nm}}</td>
                    <td style="text-align: center">{{item.state == '0' ? '신고' : item.state =='1' ? '접수' : '처리'}}</td>
            </tbody>
            </table>
          </div> 
        <div class="list-pagination" *ngIf="data_list">
            <div class="total-page" style="text-align: right" >
              <ngb-pagination class="d-flex justify-content-center" (pageChange)="paging($event)" [collectionSize]="collectionSize" [maxSize]="maxPage" 
              [(page)]="page" aria-label="Default pagination"></ngb-pagination>
              총 {{total}} 건, {{totalPage}} 페이지
           </div>
       </div>
    </div>
  </div>
</div>