<div class="card">
  <div class="card-body">   
    <div style="float: right">
        <button class="btn btn-info" style="margin-right:1rem;" (click)="faqback()"> 돌아가기</button>
        <button class="btn btn-info" style="margin-right:1rem;" (click)="save()" > 저장</button>
    </div>

    <div class="form-group">
      <label class="search-title" class="wt8 title" style="color: red">제목(필수)</label>
          <input name="faq_question" class="form-control" style="width:40em;"  [(ngModel)]="faq.question" >
    </div>

    <div class="form-group">
      <label class="search-title" class="wt8 title" style="color: red">내용(필수)</label>
      <itsm-ckeditor name="faq_answer" [ngStyle]="{'display': 'block'}" [(ngModel)]="faq.answer" ></itsm-ckeditor>  
    </div>
    <div class="form-group">
      <label class="search-title" class="wt8 title">게시상태</label>
      <select class="form-control wt8" [(ngModel)]="faq.state">
          <option value="1">사용</option>
          <option value="2">미사용</option>
      </select>
      </div>
  </div>
</div>
