@import '../../../../styles.scss';
.list-table{
    letter-spacing: -0.06rem;
    tr th, tr td{
        text-align: center;
        border:1px solid $tb-border-color;
    }
    tr th{
        background-color:$tb-col-color;
    }
    
    tbody .highlight:hover{
        background-color: $tb-hover-color;
        cursor:pointer;
    }
}
.radio-btn{
    cursor:pointer;
    padding:0.5rem; 
    margin-right:0.5rem;
    background-color:$tb-col-color; 
    border-radius:5px;
}
.on{
    background-color: #745af2!important;
    color:white!important;
    a{ color:white!important; }
}
/deep/ .customModal .modal-dialog{
    max-width:65rem!important;
    .modal-content{
        width:65rem!important;
    }
}
.selected td {
    background: yellow !important;
}

.cont {
    position: relative;


    .inner {
        position: relative;
    }
}

.category, .quick-menual {
    border: 1px solid black;
    background: white;
    width: 15rem;
    float: right;
    padding: 10px;
    height:27rem;
    .item-container {
        overflow-y: scroll;
        height: 22rem;
        
        .item {
            cursor: pointer;
            margin: 5px 0px;
            padding: 0px 5px;
        }

        .selected {
            font-size: 20px;
            font-weight: 700;
        }
    }
}


.category {
    border: 1px solid black;
    background: white;
    width: 200px;
    float: right;
    padding: 10px;
    
    .item-container {
        overflow-y: scroll;
        height: 350px;
        
        .item {
            cursor: pointer;
            margin: 5px 0px;
            padding: 0px 5px;
        }

        .selected {
            font-size: 20px;
            font-weight: 700;
        }
    }
}

.red {
    color: red;
}

.task {
    position: relative;
    text-align: left !important;
    background: none !important;

    .full {
        display: none;
    }
}
.task:hover {
    .full {
        display: block;
        position: absolute;
        z-index: 9;
        padding: 10px;
        background: white;
        border: 1px solid black;
        width: 200px;
    }
}

.hst-img-container {
    border: 3px solid gray;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    .x_btn {
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 20px;
        cursor: pointer;

        background: rgba($color: white, $alpha: 0.5)
    }

    img {
        width: 400px;
    }
}

.img-container {
    position: relative;
    
    .x_btn {
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 20px;
        cursor: pointer;

        background: rgba($color: white, $alpha: 0.5)
    }
}

input:disabled, textarea:disabled {
    background-color: rgb(235, 235, 228) !important;
}
.row-mb{
    margin-bottom:1rem;
}
.row-mt{
    margin-top:1rem;
}
.row-mbt{
    margin:1rem 0;
}
.title {
    font-weight: bold;
    color:black;
    text-align: left;
}

.asgn_img:hover{
    transform:scale(9) translateX(-40%) translateY(-20%);
}