.search-society{
    display:flex; 
    flex-direction:row; 
    justify-content:space-between;
    padding: 2rem 3rem;
    .form-group{
        display:flex; 
        flex-direction:row; 
        align-items:center; 
        margin:0;
        label{
            margin:0;
            width:10rem;
        }
        button{
            margin-left:1rem;
        }
    }
}
.inviteUser-group{
    .form-group{
        margin-bottom:0.2rem;
    }
}