<div class="d-flex" style="max-width:75rem;margin-bottom:1rem"><button class="btn btn-primary ml-auto" (click)="back()">목록으로</button></div>

<div class="card" style="max-width:75rem;">
  <div class="card-body"> 
    <p class="title">기본정보</p>
    <itsm-table [table]="basicInfoTable"></itsm-table>

    <p class="title">어플리케이션 정보</p>
    <itsm-table [table]="appInfoTable"></itsm-table>

    <p class="title">가입 사이트 정보</p>
    <itsm-table [table]="joinSiteInfoTable"></itsm-table>

    <p class="title">회원증 정보</p>
    <div class="box" *ngFor="let item of membershipCard; let idx = index">
      <hr *ngIf="idx > 0">
      <div class="user-card">
        <p>시설명: {{item.facility_nm}}</p>
        <p class="d-flex">
          <span>회원증번호 : {{item.card_no}}</span>
          <span class="ml-auto">{{item.start_dt}} ~ {{item.close_dt}}</span>
        </p>
      </div>
    </div>

    <p class="title">회원단말 정보</p>
    <itsm-table [table]="deviceInfoTable"></itsm-table>

    <p class="title">회원속성정보</p>
    <itsm-table [table]="userAttrInfoTable"></itsm-table>

    <p class="title">마일리지 적립내역 (최근 10건)</p>
    <itsm-table [table]="mileageInfoTable"></itsm-table>

    <div class="btn_wrap alignR">
        <!-- <a (click)="getPartnerList()" class="btn layer_popup">협력업체 직원으로 지정</a> -->
        <!-- 팝업 -->
        <div class="popup_wrap popup1" *ngIf="add_to_partner" style="display: block;">
          <div class="inner">
            <dl class="dl_popup">
              <dt><span class="tit">협력업체찾기</span><span class="close_btn" (click)="init_partner_rel_data()">X</span></dt>
              <dd>
                <div class="box_Type01">
                  <div class="inner pad15">
                    <div class="cate_head clearAfter">
                      <div class="search_box input_form floatL" style="width:192px;">
                    <span class="ico"></span>
                    <input type="text" [(ngModel)]="search_partner" placeholder="협력업체명" style="width:150px;">							
                  </div>

                      <div class="btn_wrap floatL marL10">
                        <a (click)="getPartnerList(search_partner)" class="btn">조회</a>
                      </div>
                    </div>

                    <div class="brdList_wrap h300 marT30">
                      <table class="brdList">
                        <colgroup>
                          <col width="20%">
                          <col width="40%">
                          <col width="40%">
                        </colgroup>
                        <thead>
                          <tr>
                            <th class="noLLine">No.</th>
                            <th>업체명</th>
                            <th>사업자번호</th>
                          </tr>																	
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of partnerList;let idx=index" (click)="selectPartner(item)" [ngStyle]="{'background-color': item.selected?'#33FF5B':'white'}">
                            <td class="noLLine" [ngStyle]="{'background-color': item.selected?'#33FF5B':'white'}">{{idx+1}}</td>
                            <td [ngStyle]="{'background-color': item.selected?'#33FF5B':'white'}">{{item.partner_nm}}</td>
                            <td [ngStyle]="{'background-color': item.selected?'#33FF5B':'white'}">{{item.cop_reg_no}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="btn_wrap alignR">
                      <a (click)="addToPartner()" class="btn bg_purple">선택</a>
                    </div>
                  </div>
                </div>
              </dd>
            </dl>
          </div>
        </div>
        <!-- //팝업 -->
      </div>
  </div>
</div>