@import '../../../../styles.scss';
tr td, tr th{
    text-align:center;
    border:1px solid $tb-border-color;
}
tr th{
    background-color:$tb-col-color;
}
.clickable-row:hover{
    cursor:pointer;
    background-color:$tb-hover-color;
}