<div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
  <div class="login-box card">
    <div class="card-body">
      <form class="form-horizontal form-material" id="loginform" [ngClass]="{'d-none': recoverform}">
        <h3 class="box-title m-b-20">포항시 모바일플랫폼 로그인</h3>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="text" required="" placeholder="아이디를 입력해주세요." [(ngModel)]="username"
              [ngModelOptions]="{standalone: true}" (keyup.enter)="login()"> </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control" type="password" required="" placeholder="비밀번호를 입력해주세요." [(ngModel)]="password"
              [ngModelOptions]="{standalone: true}" (keyup.enter)="login()"> </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12 font-14">
            <div class="custom-control custom-checkbox">
              <!-- <input type="checkbox" class="custom-control-input" id="customCheck1"> -->
              <a href="https://www.pohang.go.kr/pohang/6048/subview.do" target="blank" id="to-recover" class="text-dark float-right"><i
                  class="fa fa-lock m-r-5"></i> 아이디/비밀번호 찾기</a>
            </div>
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <a class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" href="javascript:void(0)"
              (click)="login()">로그인</a>
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <a class="btn btn-facebook btn-lg btn-block text-uppercase waves-effect waves-light" href="javascript:void(0)"
              (click)="cert()">
              <i class="mdi mdi-cellphone-android"></i>
              휴대폰 인증으로 로그인
            </a>
          </div>
        </div>
        <div class="form-group text-center m-t-20 install">
          <div class="col-xs-12">
            <a class="btn btn-lg btn-block text-uppercase waves-effect waves-light" href="javascript:void(0)" (click)="download()">
              관리자 프로그램 다운로드
            </a>
          </div>
          <div class="guide">
            <h3 style="text-align: left">*설치시 주의사항</h3>
            <img src="assets/images/login/guide_1.png" alt="">
            <img src="assets/images/login/guide_2.png" alt="">
          </div>
        </div>
        <div class=" text-center">
          <div class="col-xs-12">
            <a class="btn btn-light text-uppercase waves-effect waves-light" style="background: white;border:0;font-size: 1rem;"
              href="javascript:void(0)" (click)="download_manual()">"기관/단체 관리자매뉴얼" 내려받기</a>
          </div>
        </div>
        <!-- <div class=" text-center">
          <div class="col-xs-12">
            <a class="btn btn-light text-uppercase waves-effect waves-light" style="background: white;border:0;font-size: 1rem;"
              href="javascript:void(0)" (click)="download_research_form()">"기관/단체 조사양식" 내려받기</a>
          </div>
        </div> -->
        <!-- <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
            <div class="social">
              <button class="btn btn-facebook m-r-10" placement="top" ngbTooltip="Login with Facebook"> <i aria-hidden="true" class="fa fa-facebook"></i> </button>
              <button class="btn btn-googleplus" placement="top" ngbTooltip="Login with Google"> <i aria-hidden="true" class="fa fa-google-plus"></i> </button>
            </div>
          </div>
        </div> -->
        <!-- <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            <div>Don't have an account? <a class="text-info m-l-5" [routerLink]="['/authentication/signup']"><b>Sign Up</b></a></div>
          </div>
        </div> -->
      </form>
      <form class="form-horizontal" id="recoverform" [ngClass]="{'d-block': recoverform}">
        <div class="form-group ">
          <div class="col-xs-12">
            <h3>Recover Password</h3>
            <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="text" required="" placeholder="Email"> </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <a class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" [routerLink]="['/login']">Reset</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>