@import '../../../../styles.scss';
.list-table{
    letter-spacing: -0.06rem;
    tr th, tr td{
        text-align: center;
        border:1px solid $tb-border-color;
    }
    tr th{
        background-color:$tb-col-color;
    }
    
    tbody .highlight:hover{
        background-color: $tb-hover-color;
        cursor:pointer;
    }
}

.form-group{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
    label{
        flex-basis:30%;
        margin:0;
        text-align: right;
        padding-right:1rem;
        span{
            color:red;
        }
    }
}