
<div class="card">
        <div class="card-body">
            <div class="search-container">
                <div class="form-group">
                    <label class="search-title" style="width: 100px;">어린이집명</label>
                    <input name="evenorg_" class="form-control" style="width:350px;" [(ngModel)]="childname" (keyup.enter)="filter()">
            
                    <label class="search-title">운영상태</label>
                    <select class="form-control" [(ngModel)]="oper_state" style="width:100px;" (change)="filter()">
                      <option value=''> 전체</option>
                      <option value="0">신청</option> <!-- *ngFor="let item of orgList" -->
                      <option value="1">승인</option>
                      <option value="9">폐쇄</option>
                    </select>
                    <button type="button" class="btn btn-info" style="margin-right: 49rem; margin-left: 1rem;" (click)="filter()">조회</button>
                    <button *ngIf="this.info.user_no == 1" type="button" class="btn btn-primary" (click)="goto_add_childattend_page()">등록</button>
                </div>
            </div>
      <div id="table">
                <div class="table-responsive list-table"> 
                    <table class="table">
                        <colgroup>
                            <col width="15%">
                            <col width="27%">
                            <col width="8%">
                            <col width="12%">
                            <col width="10%">
                            <col width="8%">
                            <col width="15%">
                        </colgroup>
                        <thead>
                            <tr style="text-align: center">
                                <th>어린이집</th>
                                <th>주소</th>
                                <th>원장성명</th>
                                <th>대표전화</th>
                                <th>휴대전화</th>
                                <th>승인상태</th>
                                <th>등록일시</th>
                                
                            </tr>   
                        </thead>
                        <!-- 관리자일땐 전부다 보여줌-->
                        <tbody *ngIf="this.info.user_no == 1">
                            <tr class="highlight" style="text-align: center" *ngFor="let daycare of eventorg_list;  let i = index" (click)="openDetail(daycare.daycare_no)" > <!-- -->
                                <td>{{daycare.daycare_nm}}</td>
                                <td>{{daycare.addr}}</td> 
                                <td>{{daycare.ceo_nm}}</td>
                                <td>{{daycare.tel}}</td>
                                <td>{{daycare.ceo_cp_no}}</td>
                                <td>{{daycare.oper_state_nm}}</td>
                                <td>{{daycare.reg_dttm}}</td>
                            </tr>
                        </tbody>
                        <!-- 관리자가 아닐땐 로그인한사람에 대한 어린이집만 나옴-->
                        <tbody *ngIf="this.info.user_no != 1">
                                <tr class="highlight" style="text-align: center" *ngFor="let daycare of ceo_childhome_list;  let i = index" (click)="openDetail(daycare.daycare_no)" > <!-- -->
                                <td>{{daycare.daycare_nm}}</td> 
                                <td>{{daycare.addr}}</td> 
                                <td>{{daycare.ceo_nm}}</td>
                                <td>{{daycare.tel}}</td>
                                <td>{{daycare.ceo_cp_no}}</td>
                                <td>{{daycare.oper_state_nm}}</td>
                                <td>{{daycare.reg_dttm}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="list-pagination">  <!-- 관리자일때만 페이징 나오게함 -->
                        <div class="total-page" style="text-align: right" *ngIf="this.info.user_no == 1">
                            총 {{total}} 건, {{totalPage}} 페이지 
                            <ngb-pagination class="d-flex justify-content-center"  (pageChange)="paging($event)" [collectionSize]="collectionSize" [maxSize]="maxPage" 
                            [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                        </div>
                </div>
            </div>
        </div>
      </div>
      