
h3{
    font-weight: bold;
    padding-left: 15px;
    margin-bottom: 10px;
    border-bottom: solid 1px gray;
    width: 100%;
}

canvas{
    display: block;
    &.on{
        display: none !important;
    }
}

.card{
    margin-bottom: 10px;
    .card-body{
        padding-top : 0.5rem;
    }
}
