@import '../../../../styles.scss';
.list-table{
    width: 95%;
    letter-spacing: -0.06rem;
    tr th, tr td{
        text-align: center;
        border:1px solid $tb-border-color;
    }
    tr th{
        background-color:$tb-col-color;
    }
    
    tbody .highlight:hover{
        background-color: $tb-hover-color;
        cursor:pointer;
    }
}